.Rproj.user
.Rhistory
.RData
.Ruserdata
*skeleton*
Data/*
challenges_things.R
!Data/l1_teams_travels.csv
**/*.pdf
Day*/*twitter.png
Day*/*.aux
Day*/*.log
Day*/*.tex
Day*/*.gz
Day19/wc*
**/2023/Day8/Countries/*